src/main/webapp/wsdl/MovieController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controller.common.mkyong.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controller.common.mkyong.com" xmlns:intf="http://controller.common.mkyong.com" xmlns:tns1="http://ui.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controller.common.mkyong.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ui.springframework.org"/>
   <element name="getMovie">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="model" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMovieResponse">
    <complexType>
     <sequence>
      <element name="getMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMovieResponse">

      <wsdl:part element="impl:getMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMovieRequest">

      <wsdl:part element="impl:getMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MovieController">

      <wsdl:operation name="getMovie">

         <wsdl:input message="impl:getMovieRequest" name="getMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMovieResponse" name="getMovieResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MovieControllerSoapBinding" type="impl:MovieController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MovieControllerService">

      <wsdl:port binding="impl:MovieControllerSoapBinding" name="MovieController">

         <wsdlsoap:address location="http://localhost:8081/SpringMVC/services/MovieController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
